body {
    background-image: url("GameImg/haikei.jpg");
}

#hasuto {
    height: 5%;
    position: absolute;
    left: 10%;
}

.kabe {
    background-image: url("GameImg/kabe.jpg");
    width: 10%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}

#startBtn {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}