body {
    background-image: url("back.jpg");
  }

  #bird {
    height: 5%;
    position: absolute;
    left: 10%;
  }

  .enemy {
    background-image: url("brok.jpg");
    width:10%;
    height:100%;
    position: absolute;
    top: 60%;
    /* top: var(--random_50_150)px; */
    left: -10%;
  }

  #startBtn {
    width: 20%;
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
    margin-left: 20px;
  }

  p ,#score {
    font-size: 30px;
  }

  #back {
    margin-top: 100px;
    margin-left: 45%;
    font-size: 300%;
  }